.about{
   max-width: 100vw;
   min-height: 80vh;
   padding:70px;
   /* margin: 70px 0 0 0; */
   flex-direction: column;
   overflow: hidden;
}

.aboutUp{
   /* display: flex; */
   /* width: 80%; */
   flex-direction:column ;
}

.aboutUp h3{
    width: 70%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.line{
    width: 50px;
    height: 5px;
    background-color: grey;
    align-self: center;
    margin-bottom: 20px;

}

.aboutUp p{
    width: 70%;
    text-align: left;
    font-weight: 400;
    line-height: 21px;
    padding: 0 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}


.aboutDown{
    width: 80%;
    margin-top: 30px;
}

.left{
    width: 50%;
}
.left h5{
   width: 100%;
   text-align: left;
   margin-left: 50px;
   font-size: 28px;
   font-weight: 700;
   line-height: 33px;
   color: azure;
}
.left ul {
    list-style-type: none;
}
.left ul li{
    color: #808080;
    font-weight: 400;
    line-height: 21px;
    margin: 20px;
    /* font-size: 18px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right{
    width: 50%;
}
.right img{
    width: 80%;
    /* height: 100%; */
}

@media only screen and (max-width:470px){
    .about{
        max-width: 100vw;
        min-height: 0vh;
        margin: 50px;
        flex-direction: column;
        overflow: hidden;
     }
     
     .aboutUp{
        /* display: flex; */
        /* width: 80%; */
        flex-direction:column ;
     }
     
     .aboutUp h3{
         width: 70%;
         text-align: center;
         font-size: 22px;
         font-weight: 700;
         line-height: normal;
         font-family: Arial, Helvetica, sans-serif;
         color: whitesmoke;
     }
     .line{
         width: 60px;
         height: 3px;
         background-color: grey;
         align-self: center;
         margin-bottom: 20px;
     
     }
     
     .aboutUp p{
         width: 100%;
         text-align: left;
         font-weight: normal;
         line-height: normal;
         padding: 0 ;
         font-size: 12px;
         font-family:  sans-serif;
         color: aliceblue;
     }
     
     
     .aboutDown{
         width: 100%;
         margin-top: 3px;
         flex-direction: column-reverse;
         /* display: none; */
     }
     .left{
        display: none;
     }
     
     .right{
         width: 100%;
     }
     .right img{
         width: 100%;
         /* height: 100%; */
         border-radius: 10px;
     }
}