.footer{
   width: 100vw;
   height: 120px;
   background-color: #111827;
   flex-direction: row;
}
.copyright{
    /* width: 40%; */
    height: 100%;
    color: white;
    font-size:15.4px;
    font-weight: 400;
    line-height: 27.72px;
}

.footer ul{
    flex-direction: row;
    list-style-type: none;
}
.footer ul li{
   margin: 10px;
}
footer ul li a img{
    width: 40px;
}